openapi: 3.1.0
info:
  title: Booking.com Demand Accommodations API
  version: '3.1'
  summary: "The Booking.com Demand API enables Affiliate Partners to access Booking.com's travel inventory, including accommodations, car rentals, and flights. \n\nUse Demand API to search, retrieve details, check availability, manage bookings and run reports using orders details.\n\n- RESTful API with JSON responses.\n- Make HTTPS POST requests to interact with endpoints.\n- Requires authentication using your Affiliate ID and token credentials.\n\n[Check the try out guide!](/demand/docs/getting-started/try-out-the-api)\n"
  x-last-validated: '2026-06-02'
  x-generated-from: documentation
  description: This API collection is specific for the stay part of the connected trip. </br></br>Use these endpoints to search for stays such as hotels and apartments, check availability, retrieve reviews, and get detailed property information.
servers:
- url: https://demandapi.booking.com/3.1
  description: Production environment
- url: https://demandapi-sandbox.booking.com/3.1
  description: Sandbox environment
security:
- BearerAuth: []
tags:
- name: Accommodations
  x-displayName: Accommodation
  description: This API collection is specific for the stay part of the connected trip. </br></br>Use these endpoints to search for stays such as hotels and apartments, check availability, retrieve reviews, and get detailed property information.
paths:
  /accommodations/search:
    post:
      summary: Booking.com Search Accommodation
      description: This endpoint returns, by default, the cheapest available product for each accommodation that matches the specified search criteria. <br/><br/>When you apply location filters using parameters such as country or region id, the results are sorted by Booking.com popularity (top_picks) instead of price.<br/>In this case, accommodations are ranked in descending order of popularity, meaning higher-ranked listings will appear earlier in the response.
      operationId: accommodationsSearch
      parameters:
      - in: header
        name: X-Affiliate-Id
        schema:
          type: integer
        required: true
        description: Include here your Affiliate identifier number
      tags:
      - Accommodations
      requestBody:
        content:
          application/json:
            schema:
              title: AccommodationsSearchInput
              type: object
              properties:
                24_hour_reception:
                  description: Filter the result based if the front desk reception is available 24/7. When specified true, the result will filter the products where front desk is available 24/7.
                  type: boolean
                accommodation_facilities:
                  type: array
                  items:
                    description: 'A signed integer number that uniquely identifies an accommodation property facility. Examples of facilities are: Parking, Restaurant, Room service etc. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/accommodations/accommodations/constants" target="_blank">accommodations/constants</a>.'
                    type: integer
                    minimum: 1
                accommodation_types:
                  type: array
                  items:
                    description: 'A signed integer number that uniquely identifies an accommodation property type. Examples of accommodation types are: Apartment, Hostel, Hotel etc. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/accommodations/accommodations/constants" target="_blank">accommodations/constants</a>.'
                    type: integer
                    minimum: 1
                accommodations:
                  type: array
                  items:
                    description: A signed integer number that uniquely identifies an accommodation property. The full list can be obtained by calling [accommodations/details](/demand/docs/open-api/demand-api/accommodations/accommodations/details).
                    type: integer
                    minimum: 1
                  maxItems: 100
                airport:
                  description: A three-letter code that uniquely identifies an airport as defined by the International Air Transport Association (IATA). The full list can be obtained by calling  <a href="/demand/docs/open-api/demand-api/commonlocations/common/locations/airports" target="_blank">common/locations/airports</a>.
                  type: string
                  pattern: ^[A-Z]{3}$
                  example: AMS
                booker:
                  title: Booker
                  description: The booker's information.
                  type: object
                  properties:
                    country:
                      description: The booker country for showing the best price for that user and obeying laws regarding the display of taxes and fees.
                      type: string
                      pattern: ^[a-z]{2}$
                    platform:
                      description: The booker platform for showing the platform based deals and prices.
                      type: string
                      enum:
                      - android
                      - desktop
                      - ios
                      - mobile
                      - tablet
                    state:
                      description: The booker state for showing the best price for that user and obeying laws regarding the display of taxes and fees. Currently applicable only for country US.
                      type: string
                      pattern: ^[a-z]{2}$
                    travel_purpose:
                      description: The travel purpose of the booker.
                      type: string
                      enum:
                      - business
                      - leisure
                    user_groups:
                      description: The user groups that the booker is a member of.
                      type: array
                      items:
                        type: string
                        enum:
                        - authenticated
                  required:
                  - country
                  - platform
                brands:
                  type: array
                  items:
                    description: 'A signed integer number that uniquely identifies an accommodation brand. Examples of brands are: Radisson Blu, WestCord Hotels, Westin etc. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/accommodations/accommodations/chains" target="_blank">/accommodations/chains</a>.'
                    type: integer
                    minimum: 1
                cancellation_type:
                  description: Filters the result for the cancellation type specified. Possible values are free_cancellation & non_refundable. If cancellation_type is free_cancellation, the result will contain all the products with free_cancellation.
                  type: string
                  enum:
                  - free_cancellation
                  - non_refundable
                checkin:
                  description: The checkin date. Must be within 500 days in the future and in the format yyyy-mm-dd.
                  type: string
                  format: date
                checkout:
                  description: The checkout date. Must be later than {checkin}. Must be between 1 and 90 days after {checkin}. Must be within 500 days in the future and in the format yyyy-mm-dd.
                  type: string
                  format: date
                city:
                  description: A signed integer number that uniquely identifies a city. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/commonlocations/common/locations/cities" target="_blank">common/locations/cities</a>.
                  type: integer
                coordinates:
                  title: AccommodationsSearchCoordinatesOutput
                  description: Limit the result list to the specified coordinates.
                  type: object
                  properties:
                    latitude:
                      description: Specify a latitude (as well as a longitude and radius) to do searches around a specific location.
                      type: number
                      format: double
                    longitude:
                      description: Specify a longitude (as well as a latitude and radius) to do searches around a specific location.
                      type: number
                      format: double
                    radius:
                      description: The radius is km to search around the specified latitude and longitude.
                      type: number
                      format: double
                country:
                  description: 'A two-letter code that uniquely identifies a country. This code is defined by the ISO 3166-1 alpha-2 standard (ISO2) as described here: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/commonlocations/common/locations/countries" target="_blank">common/locations/countries</a>.'
                  type: string
                  pattern: ^[a-z]{2}$
                  example: nl
                currency:
                  description: A three-letter code that uniquely identifies a monetary currency as defined by the ISO 4217 standard. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/commonpayments/common/payments/currencies" target="_blank">common/payments/currencies</a>.
                  type: string
                  pattern: ^[A-Z]{3}$
                  example: EUR
                district:
                  description: A signed integer number that uniquely identifies a district. Typically, districts define known areas within a city. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/commonlocations/common/locations/districts" target="_blank">common/locations/districts</a>.
                  type: integer
                  minimum: 1
                dormitories:
                  description: This parameter specifies if the results should include dormitory beds or rooms. The default behaviour will include the dormitory beds or rooms with other results. When this flag is set to 'only', the response will only include dormitory beds or rooms. When this flag is set to 'exclude', the response will exclude dormitory beds or rooms. When this flag is set to 'include', the response will include dormitory beds or rooms with other results.
                  type: string
                  default: include
                  enum:
                  - include
                  - exclude
                  - only
                extras:
                  description: Input parameter to request for additional information about the products.
                  type: array
                  items:
                    type: string
                    enum:
                    - extra_charges
                    - products
                guests:
                  title: AccommodationsGuests
                  description: The guest details for the request.
                  type: object
                  properties:
                    allocation:
                      description: The exact allocation of guests to rooms.
                      type: array
                      items:
                        properties:
                          children:
                            description: The children ages for this room.
                            type: array
                            items:
                              type: integer
                              minimum: 0
                              maximum: 17
                          number_of_adults:
                            description: The number of adults for this room.
                            type: integer
                            minimum: 1
                        required:
                        - number_of_adults
                    children:
                      description: Array with the children ages.
                      type: array
                      items:
                        type: integer
                        minimum: 0
                        maximum: 17
                    number_of_adults:
                      description: The number of adults for the search.
                      type: integer
                      minimum: 1
                    number_of_rooms:
                      description: The number of rooms needed.
                      type: integer
                      minimum: 1
                  required:
                  - number_of_adults
                  - number_of_rooms
                landmark:
                  description: A signed integer number that uniquely identifies a relevant geographical landmark, like a monument or a natural attraction. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/commonlocations/common/locations/landmarks" target="_blank">common/locations/landmarks</a>.
                  type: integer
                  minimum: 1
                meal_plan:
                  description: 'Filter the result based on the selected meal plan. Example: When specified breakfast_included, it will show the product with free breakfast.'
                  type: string
                  enum:
                  - all_inclusive
                  - breakfast_included
                  - full_board
                  - half_board
                page:
                  description: Pagination token used to retrieve the next page of results. Obtained from `next_page`.
                  type: string
                payment:
                  description: The payment filter for the request
                  type: object
                  properties:
                    credit_card_required:
                      description: Filter to show accommodations which require credit card
                      type: boolean
                    timing:
                      description: This parameter specifies that the results should only return accommodation and blocks that contain the specified payment timings.
                      type: string
                      enum:
                      - pay_at_the_property
                      - pay_online
                price:
                  description: If specified, will return only results where the price *per night* falls in the specified range (inclusive). This filter requires that a currency is passed
                  type: object
                  properties:
                    maximum:
                      description: Set the maximum price per night, in the specified currency, or omit to indicate no upper limit.
                      type: integer
                    minimum:
                      description: Set the minimum price per night, in the specified currency, or omit to indicate no lower limit.
                      type: integer
                rating:
                  description: The rating filter for the request
                  type: object
                  properties:
                    minimum_review_score:
                      description: Show only hotels with review_score >= that. Review score should be in the range 1 to 10.
                      type: integer
                      minimum: 0
                      maximum: 10
                    stars:
                      description: Limit to accommodations with the given number(s) of stars. Stars should be in the range of 1 to 5.
                      type: array
                      items:
                        type: number
                        minimum: 1
                        maximum: 5
                region:
                  description: A signed integer number that uniquely identifies a geographical region. Regions usually define official administrative areas within a country, but may also include multiple countries and in some cases un-official but popular designations for geographical areas. An example of a region that crosses multiple countries is the Alps in Europe. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/commonlocations/common/locations/regions" target="_blank">common/locations/regions</a>.
                  type: integer
                  minimum: 1
                room_facilities:
                  type: array
                  items:
                    description: 'A signed integer number that uniquely identifies an accommodation property room facility. Examples of facilities are: Coffee/Tea maker, TV, Airconditioning, etc. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/accommodations/accommodations/constants" target="_blank">accommodations/constants</a>.'
                    type: integer
                    minimum: 1
                rows:
                  description: The maximum number of results to return.
                  type: integer
                  multipleOf: 10
                  minimum: 10
                  maximum: 100
                  default: 100
                sort:
                  description: The sorting parameters for the response
                  type: object
                  properties:
                    by:
                      description: 'The way to sort your results. NOTE: When ordering by distance please make sure to specify the latitude and longitude!'
                      type: string
                      enum:
                      - distance
                      - price
                      - review_score
                      - stars
                    direction:
                      description: The direction you wish for your sort.by parameter to be sorted in
                      type: string
                      enum:
                      - ascending
                      - descending
                travel_proud:
                  description: Filter the result based on if the property is LGBTQ+ friendly. When specified true, the result will filter and return only the accommodations that are Proud Certified.
                  type: boolean
              required:
              - booker
              - checkin
              - checkout
              - guests
            example:
              booker:
                country: nl
                platform: desktop
              checkin: '!START_DATE!'
              checkout: '!END_DATE!'
              city: -2140479
              extras:
              - extra_charges
              - products
              guests:
                number_of_adults: 2
                number_of_rooms: 1
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                title: AccommodationsSearchOutput
                type: object
                properties:
                  request_id:
                    description: Uniquely identifies the request. Please provide this identifier when contacting support.
                    type: string
                  data:
                    type: array
                    items:
                      title: AccommodationsSearchDataOutput
                      description: ''
                      type: object
                      properties:
                        id:
                          description: A signed integer number that uniquely identifies an accommodation property. The full list can be obtained by calling [accommodations/details](/demand/docs/open-api/demand-api/accommodations/accommodations/details).
                          type: integer
                          minimum: 1
                        commission:
                          title: AccommodationsCommission
                          description: Commission details for the partner for a given accommodation
                          type: object
                          properties:
                            amount:
                              description: The actual commission amount for the partner.
                              type: number
                              format: double
                              minimum: 0
                            percentage:
                              description: Percentage of the fee that will be received as commission.
                              type: number
                              format: double
                              minimum: 0
                        currency:
                          description: A three-letter code that uniquely identifies a monetary currency as defined by the ISO 4217 standard. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/commonpayments/common/payments/currencies" target="_blank">common/payments/currencies</a>.
                          type: string
                          pattern: ^[A-Z]{3}$
                          example: EUR
                        deep_link_url:
                          description: A mobile app URL that directs the user to a specific page or content within the Booking.com app. The link can only be used on a device with the Booking.com app installed. It typically includes an Affiliate ID (AID) to attribute bookings to the affiliate partner when users are redirected
                          type: string
                          format: url
                        price:
                          title: AccommodationsSearchProductPrice
                          description: The price components of this product or selection of products. 'base' and 'extra_charges' are returned only when explicitly requested (via 'extras=extra_charges').
                          type: object
                          properties:
                            base:
                              description: The base price. It does not include any extra charges.
                              type: number
                              format: double
                              multipleOf: 0.01
                              exclusiveMinimum: 0
                            book:
                              description: The display price that must be shown to the traveller under local booker protection laws. This price includes the base accommodation cost and all charges that are legally required to be part of the displayed price. Equivalent to base + included charges.
                              type: number
                              format: double
                              multipleOf: 0.01
                              exclusiveMinimum: 0
                            extra_charges:
                              title: AccommodationsExtraCharges
                              description: The charge breakdown. Includes taxes and fees.
                              type: object
                              properties:
                                excluded:
                                  description: Charges not included in 'book'.
                                  type: number
                                  format: double
                                  minimum: 0
                                included:
                                  description: Charges included in 'book'.
                                  type: number
                                  format: double
                                  minimum: 0
                            total:
                              description: The total price. Includes all extra charges.
                              type: number
                              format: double
                              multipleOf: 0.01
                              exclusiveMinimum: 0
                        products:
                          type: array
                          items:
                            title: AccommodationsSearchProductOutput
                            description: Details product information. It requires `{"extras":["products"]}`.
                            type: object
                            properties:
                              id:
                                description: Unique ID of the product.
                                type: string
                              bundle:
                                description: The bundle ID of the product comprising of value added products.
                                type: integer
                              children:
                                description: The ages of the children allocated to this product.
                                type: array
                                items:
                                  type: integer
                                  minimum: 0
                                  maximum: 17
                              deal:
                                title: Deal
                                description: This specifies the deal tagging for the product.
                                type:
                                - object
                                - 'null'
                                properties:
                                  discount_percentage:
                                    description: Discount percentage of the applied deal.
                                    type: integer
                                    minimum: 1
                                  public_price:
                                    description: Original price of this product, before applying any discounts.
                                    type: number
                                    format: double
                                    multipleOf: 0.01
                                    exclusiveMinimum: 0
                                  tags:
                                    description: The tags of all the applied deals.
                                    type: array
                                    items:
                                      type: string
                                      enum:
                                      - black_friday
                                      - limited_time_deal
                                      - logged_in_deal
                                      - mobile_rate
                                      - seasonal_deal
                              inventory:
                                title: InventoryOutput
                                type: object
                                properties:
                                  third_party:
                                    type: boolean
                                    description: Boolean value is "true" if the product is facilitated by a Booking.com partner company and "false" otherwise.
                                  type:
                                    description: Type of inventory - either net or sell rates.
                                    type: string
                                    enum:
                                    - net
                                    - sell
                              number_available_at_this_price:
                                description: Number of rooms available at this price.
                                type: integer
                                minimum: 1
                                nullable: true
                              number_of_adults:
                                description: The number of adults allocated to this product.
                                type: integer
                                minimum: 1
                              policies:
                                title: AccommodationsProductPolicies
                                description: The policies for this product.
                                type: object
                                properties:
                                  cancellation:
                                    title: AccommodationsProductCancellationPolicy
                                    description: The cancellation policy for this product.
                                    type: object
                                    properties:
                                      free_cancellation_until:
                                        description: Until when the order for this product can be cancelled for free.
                                        type:
                                        - string
                                        - 'null'
                                        format: date-time
                                      type:
                                        description: 'The cancellation policy applicable to this product: "free_cancellation" allows a period for free cancellation, "non_refundable" means immediate loss of total amount, "special_conditions" means partly refundable.'
                                        type: string
                                        enum:
                                        - free_cancellation
                                        - non_refundable
                                        - special_conditions
                                  meal_plan:
                                    title: AccommodationsProductMealPlanPolicy
                                    description: The meal plan policy for this product.
                                    type: object
                                    properties:
                                      meals:
                                        description: The meals included in the meal plan.
                                        type: array
                                        items:
                                          type: string
                                          enum:
                                          - breakfast
                                          - dinner
                                          - lunch
                                      plan:
                                        description: The meal plan included in this product.
                                        type: string
                                        enum:
                                        - all_inclusive
                                        - breakfast_included
                                        - full_board
                                        - half_board
                                        - no_plan
                                  payment:
                                    title: AccommodationsProductPaymentPolicyNew
                                    description: Payment terms and conditions for this product.
                                    type: object
                                    properties:
                                      prepayment_required:
                                        description: Whether prepayment is required for this product.
                                        type: boolean
                                      timings:
                                        description: The payment timings supported by this product.
                                        type: array
                                        items:
                                          type: string
                                          enum:
                                          - pay_at_the_property
                                          - pay_online_later
                                          - pay_online_now
                              price:
                                title: AccommodationsProductPrice
                                description: The price components of this product. 'base' and 'extra_charges' are returned only when explicitly requested (via 'extras=extra_charges').
                                type: object
                                properties:
                                  base:
                                    description: The base price. It does not include any extra charges.
                                    type: number
                                    format: double
                                    multipleOf: 0.01
                                    exclusiveMinimum: 0
                                  book:
                                    description: The display price that must be shown to the traveller under local booker protection laws. This price includes the base accommodation cost and all charges that are legally required to be part of the displayed price. Equivalent to base + included charges.
                                    type: number
                                    format: double
                                    multipleOf: 0.01
                                    exclusiveMinimum: 0
                                  extra_charges:
                                    title: AccommodationsProductExtraCharges
                                    description: The charge breakdown. Includes taxes and fees.
                                    type: object
                                    properties:
                                      conditional:
                                        description: Charges that might apply under a specific condition.
                                        type: array
                                        items:
                                          title: AccommodationsConditionalCharge
                                          description: Charges that might apply under a specific condition.
                                          type: object
                                          properties:
                                            charge:
                                              description: 'A signed integer number that uniquely identifies an accommodation charge type. Examples of charges are: VAT, City Tax, etc. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/accommodations/accommodations/constants" target="_blank">accommodations/constants</a>.'
                                              type: integer
                                              minimum: 0
                                            condition:
                                              description: A signed integer number that uniquely identifies the condition ID. Find the full list in the <a href="/demand/docs/accommodations/prices-accommodations" target="_blank">Pricing guidelines</a>.
                                              type:
                                              - integer
                                              - 'null'
                                              minimum: 0
                                            mode:
                                              description: The mode of this charge. Determines how the price is calculated.
                                              type: string
                                              enum:
                                              - calculated_amount
                                              - percentage
                                              - per_day
                                              - per_night
                                              - per_person_per_day
                                              - per_person_per_night
                                              - per_person_per_stay
                                              - per_stay
                                            percentage:
                                              description: The percentage of 'base' that this charge amounts to. Only applicable when 'mode' is 'percentage'.
                                              type: number
                                              multipleOf: 0.01
                                              exclusiveMinimum: 0
                                              nullable: true
                                            total_amount:
                                              description: The total price for this charge.
                                              type: number
                                              multipleOf: 0.01
                                              exclusiveMinimum: 0
                                            unit_amount:
                                              description: The price per unit for this charge. Only applicable when 'mode' is 'per_day', 'per_night', 'per_person_per_day', 'per_person_per_night', or 'per_person_per_stay'.
                                              type: number
                                              multipleOf: 0.01
                                              exclusiveMinimum: 0
                                              nullable: true
                                      excluded:
                                        description: Charges not included in 'book'.
                                        type: array
                                        items:
                                          title: AccommodationsSearchCharge
                                          description: All non-conditional charges that will necessarily be paid
                                          type: object
                                          properties:
                                            charge:
                                              description: 'A signed integer number that uniquely identifies an accommodation charge type. Examples of charges are: VAT, City Tax, etc. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/accommodations/accommodations/constants" target="_blank">accommodations/constants</a>.'
                                              type: integer
                                              minimum: 0
                                            mode:
                                              description: The mode of this charge. Determines how the price is calculated.
                                              type: string
                                              enum:
                                              - calculated_amount
                                              - incalculable
                                              - percentage
                                              - per_day
                                              - per_night
                                              - per_person_per_day
                                              - per_person_per_night
                                              - per_person_per_stay
                                              - per_stay
                                            percentage:
                                              description: The percentage of 'base' that this charge amounts to. Only applicable when 'mode' is 'percentage'.
                                              type: number
                                              multipleOf: 0.01
                                              exclusiveMinimum: 0
                                              nullable: true
                                            total_amount:
                                              description: The total price for this charge.
                                              type: number
                                              multipleOf: 0.01
                                              exclusiveMinimum: 0
                                            unit_amount:
                                              description: The price per unit for this charge. Only applicable when 'mode' is 'per_day', 'per_night', 'per_person_per_day', 'per_person_per_night', or 'per_person_per_stay'.
                                              type: number
                                              multipleOf: 0.01
                                              exclusiveMinimum: 0
                                              nullable: true
                                      included:
                                        description: Charges included in 'book'.
                                        type: array
                                        items:
                                          title: AccommodationsSearchCharge
                                          description: All non-conditional charges that will necessarily be paid
                                          type: object
                                          properties:
                                            charge:
                                              description: 'A signed integer number that uniquely identifies an accommodation charge type. Examples of charges are: VAT, City Tax, etc. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/accommodations/accommodations/constants" target="_blank">accommodations/constants</a>.'
                                              type: integer
                                              minimum: 0
                                            mode:
                                              description: The mode of this charge. Determines how the price is calculated.
                                              type: string
                                              enum:
                                              - calculated_amount
                                              - incalculable
                                              - percentage
                                              - per_day
                                              - per_night
                                              - per_person_per_day
                                              - per_person_per_night
                                              - per_person_per_stay
                                              - per_stay
                                            percentage:
                                              description: The percentage of 'base' that this charge amounts to. Only applicable when 'mode' is 'percentage'.
                                              type: number
                                              multipleOf: 0.01
                                              exclusiveMinimum: 0
                                              nullable: true
                                            total_amount:
                                              description: The total price for this charge.
                                              type: number
                                              multipleOf: 0.01
                                              exclusiveMinimum: 0
                                            unit_amount:
                                              description: The price per unit for this charge. Only applicable when 'mode' is 'per_day', 'per_night', 'per_person_per_day', 'per_person_per_night', or 'per_person_per_stay'.
                                              type: number
                                              multipleOf: 0.01
                                              exclusiveMinimum: 0
                                              nullable: true
                                  total:
                                    description: The total price. Includes all extra charges.
                                    type: number
                                    format: double
                                    multipleOf: 0.01
                                    exclusiveMinimum: 0
                              room:
                                description: A signed integer number that uniquely identifies an accommodation property room. The full list can be obtained by calling [accommodations/details](/demand/docs/open-api/demand-api/accommodations/accommodations/details).
                                type: integer
                                minimum: 1
                              third_party_inventory:
                                description: Boolean value is "true" if the product is facilitated by a Booking.com partner company and "false" otherwise.
                                type: boolean
                        url:
                          description: Internet address for the property page on Booking.com.
                          type: string
                          format: url
                  next_page:
                    description: Indicates that more results are available. Use this pagination token to retrieve the next page of results (via parameter `page`).
                    type:
                    - string
                    - 'null'
              example:
                request_id: 01fr9ez700exycb98w90w5r9sh
                data:
                - id: 10004
                  currency: EUR
                  deep_link_url: booking://hotel/10004?affiliate_id=!AFFILIATE_ID!&checkin=!START_DATE!&checkout=!END_DATE!&mcid=10
                  price:
                    base: 1081.49
                    book: 1260.52
                    extra_charges:
                      excluded: 0
                      included: 179.04
                    total: 1260.52
                  products:
                  - id: '1000420_95127794_2_0_0'
                    bundle: null
                    children: []
                    deal: null
                    inventory:
                      third_party: false
                      type: sell
                    number_of_adults: 2
                    policies:
                      cancellation:
                        free_cancellation_until: null
                        type: non_refundable
                      meal_plan:
                        meals: []
                        plan: no_plan
                      payment:
                        timings:
                        - pay_at_the_property
                    price:
                      base: 1081.49
                      book: 1260.52
                      extra_charges:
                        conditional: []
                        excluded: []
                        included:
                        - charge: 21
                          mode: percentage
                          percentage: 9
                          total_amount: 107.07
                          unit_amount: null
                        - charge: 22
                          mode: percentage
                          percentage: 7
                          total_amount: 83.27
                          unit_amount: null
                        - charge: 142
                          mode: per_person_per_night
                          percentage: null
                          total_amount: 6
                          unit_amount: 3
                      total: 1260.52
                    room: 1000426
                    third_party_inventory: false
                  url: https://www.booking.com/hotel/nl/conscious-the-tire-station.html?affiliate_id=!AFFILIATE_ID!&checkin=!START_DATE!&checkout=!END_DATE!&group_adults=2&no_rooms=1
                - '...'
                next_page: '...'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /accommodations/availability:
    post:
      summary: Booking.com Check Availability
      description: 'Use this endpoint to return detailed product availability, price and charges of the accommodation matching a given search criteria. <br/>By default, only product availability and price is returned. To receive extended information use the `extras` parameter. <br/><br/>Note: It is mandatory to pass the input parameters: accommodation, booker, checkin, checkout and guest.'
      operationId: accommodationsAvailability
      parameters:
      - in: header
        name: X-Affiliate-Id
        schema:
          type: integer
        required: true
        description: Include here your Affiliate identifier number
      tags:
      - Accommodations
      requestBody:
        content:
          application/json:
            schema:
              title: AccommodationsAvailabilityInput
              type: object
              properties:
                accommodation:
                  description: A signed integer number that uniquely identifies an accommodation property. The full list can be obtained by calling [accommodations/details](/demand/docs/open-api/demand-api/accommodations/accommodations/details).
                  type: integer
                  minimum: 1
                booker:
                  title: Booker
                  description: The booker's information.
                  type: object
                  properties:
                    country:
                      description: The booker country for showing the best price for that user and obeying laws regarding the display of taxes and fees.
                      type: string
                      pattern: ^[a-z]{2}$
                    platform:
                      description: The booker platform for showing the platform based deals and prices.
                      type: string
                      enum:
                      - android
                      - desktop
                      - ios
                      - mobile
                      - tablet
                    state:
                      description: The booker state for showing the best price for that user and obeying laws regarding the display of taxes and fees. Currently applicable only for country US.
                      type: string
                      pattern: ^[a-z]{2}$
                    travel_purpose:
                      description: The travel purpose of the booker.
                      type: string
                      enum:
                      - business
                      - leisure
                    user_groups:
                      description: The user groups that the booker is a member of.
                      type: array
                      items:
                        type: string
                        enum:
                        - authenticated
                  required:
                  - country
                  - platform
                checkin:
                  description: The checkin date. Must be within 500 days in the future and in the format yyyy-mm-dd.
                  type: string
                  format: date
                checkout:
                  description: The checkout date. Must be later than {checkin}. Must be between 1 and 90 days after {checkin}. Must be within 500 days in the future and in the format yyyy-mm-dd.
                  type: string
                  format: date
                currency:
                  description: A three-letter code that uniquely identifies a monetary currency as defined by the ISO 4217 standard. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/commonpayments/common/payments/currencies" target="_blank">common/payments/currencies</a>.
                  type: string
                  pattern: ^[A-Z]{3}$
                  example: EUR
                extras:
                  description: Input parameter to request for additional information about this product.include_bundle_variants must be passed in order to retrieve all value added products.
                  type: array
                  items:
                    type: string
                    enum:
                    - extra_charges
                    - include_bundle_variants
                guests:
                  title: AccommodationsGuests
                  description: The guest details for the request.
                  type: object
                  properties:
                    allocation:
                      description: The exact allocation of guests to rooms.
                      type: array
                      items:
                        properties:
                          children:
                            description: The children ages for this room.
                            type: array
                            items:
                              type: integer
                              minimum: 0
                              maximum: 17
                          number_of_adults:
                            description: The number of adults for this room.
                            type: integer
                            minimum: 1
                        required:
                        - number_of_adults
                    children:
                      description: Array with the children ages.
                      type: array
                      items:
                        type: integer
                        minimum: 0
                        maximum: 17
                    number_of_adults:
                      description: The number of adults for the search.
                      type: integer
                      minimum: 1
                    number_of_rooms:
                      description: The number of rooms needed.
                      type: integer
                      minimum: 1
                  required:
                  - number_of_adults
                  - number_of_rooms
                payment:
                  description: Payment input information to filter results.
                  properties:
                    timing:
                      description: This parameter specifies that the results should only return accommodation and blocks that contain the specified payment timings.
                      type: string
                      enum:
                      - pay_at_the_property
                      - pay_online
                products:
                  type: array
                  items:
                    description: Unique ID of the product.
                    type: string
              required:
              - accommodation
              - booker
              - checkin
              - checkout
              - guests
            example:
              accommodation: 10004
              booker:
                country: nl
                platform: desktop
              checkin: '!START_DATE!'
              checkout: '!END_DATE!'
              extras:
              - extra_charges
              guests:
                number_of_adults: 2
                number_of_rooms: 1
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                title: AccommodationsAvailabilityOutput
                type: object
                properties:
                  request_id:
                    description: Uniquely identifies the request. Please provide this identifier when contacting support.
                    type: string
                  data:
                    title: AccommodationsAvailabilityDataOutput
                    description: ''
                    type: object
                    properties:
                      id:
                        description: A signed integer number that uniquely identifies an accommodation property. The full list can be obtained by calling [accommodations/details](/demand/docs/open-api/demand-api/accommodations/accommodations/details).
                        type: integer
                        minimum: 1
                      currency:
                        description: A three-letter code that uniquely identifies a monetary currency as defined by the ISO 4217 standard. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/commonpayments/common/payments/currencies" target="_blank">common/payments/currencies</a>.
                        type: string
                        pattern: ^[A-Z]{3}$
                        example: EUR
                      deep_link_url:
                        description: A mobile app URL that directs the user to a specific page or content within the Booking.com app. The link can only be used on a device with the Booking.com app installed. It typically includes an Affiliate ID (AID) to attribute bookings to the affiliate partner when users are redirected
                        type: string
                        format: url
                      products:
                        type: array
                        items:
                          title: AccommodationsAvailabilityProductOutput
                          description: ''
                          type: object
                          properties:
                            id:
                              description: Unique ID of the product.
                              type: string
                            bundle:
                              description: The bundle ID of the product comprising of value added products.
                              type: integer
                            deal:
                              title: Deal
                              description: This specifies the deal tagging for the product.
                              type:
                              - object
                              - 'null'
                              properties:
                                discount_percentage:
                                  description: Discount percentage of the applied deal.
                                  type: integer
                                  minimum: 1
                                public_price:
                                  description: Original price of this product, before applying any discounts.
                                  type: number
                                  format: double
                                  multipleOf: 0.01
                                  exclusiveMinimum: 0
                                tags:
                                  description: The tags of all the applied deals.
                                  type: array
                                  items:
                                    type: string
                                    enum:
                                    - black_friday
                                    - limited_time_deal
                                    - logged_in_deal
                                    - mobile_rate
                                    - seasonal_deal
                            inventory:
                              title: InventoryOutput
                              type: object
                              properties:
                                third_party:
                                  type: boolean
                                  description: Boolean value is "true" if the product is facilitated by a Booking.com partner company and "false" otherwise.
                                type:
                                  description: Type of inventory - either net or sell rates.
                                  type: string
                                  enum:
                                  - net
                                  - sell
                            maximum_occupancy:
                              title: AccommodationsMaximumOccupancy
                              description: Information related to maximum number of occupancy inside the room.
                              type: object
                              properties:
                                adults:
                                  description: The maximum number of adults for this room.
                                  type: integer
                                  minimum: 1
                                children:
                                  description: The information about maximum number of children and their allowed ages for this room.
                                  type: array
                                  items:
                                    title: AccommodationsChildren
                                    type: object
                                    properties:
                                      total:
                                        description: The maximum number of children for this room.
                                        type: integer
                                        minimum: 1
                                      from_age:
                                        description: The youngest age of the children allowed in this room.
                                        type: integer
                                        minimum: 0
                                        maximum: 17
                                      to_age:
                                        description: The oldest age of the children allowed in this room.
                                        type: integer
                                        minimum: 0
                                        maximum: 17
                                      free_stay:
                                        description: Whether children in this age bracket will be staying for free. False indicates their cost was already included in the price.
                                        type: boolean
                                total:
                                  description: The maximum number of guests for this room.
                                  type: integer
                                  minimum: 1
                            number_available_at_this_price:
                              description: Number of rooms available at this price.
                              type: integer
                              minimum: 1
                            policies:
                              title: AccommodationsProductPolicies
                              description: The policies for this product.
                              type: object
                              properties:
                                cancellation:
                                  title: AccommodationsProductCancellationPolicy
                                  description: The cancellation policy for this product.
                                  type: object
                                  properties:
                                    free_cancellation_until:
                                      description: Until when the order for this product can be cancelled for free.
                                      type:
                                      - string
                                      - 'null'
                                      format: date-time
                                    schedule:
                                      description: The cancellation policy schedule for this product.
                                      type: array
                                      items:
                                        title: AccommodationsProductDetailedCancellationPolicy
                                        type: object
                                        properties:
                                          from:
                                            description: The time from which this cancellation fee applies. `now` means from booking time.
                                            type:
                                            - string
                                            - 'null'
                                            oneOf:
                                            - format: date-time
                                            - pattern: now
                                          price:
                                            description: The cancellation fee.
                                            type: number
                                            format: double
                                            minimum: 0
                                    type:
                                      description: 'The cancellation policy applicable to this product: "free_cancellation" allows a period for free cancellation, "non_refundable" means immediate loss of total amount, "special_conditions" means partly refundable.'
                                      type: string
                                      enum:
                                      - free_cancellation
                                      - non_refundable
                                      - special_conditions
                                meal_plan:
                                  title: AccommodationsProductMealPlanPolicy
                                  description: The meal plan policy for this product.
                                  type: object
                                  properties:
                                    meals:
                                      description: The meals included in the meal plan.
                                      type: array
                                      items:
                                        type: string
                                        enum:
                                        - breakfast
                                        - dinner
                                        - lunch
                                    plan:
                                      description: The meal plan included in this product.
                                      type: string
                                      enum:
                                      - all_inclusive
                                      - breakfast_included
                                      - full_board
                                      - half_board
                                      - no_plan
                                payment:
                                  title: AccommodationsProductPaymentPolicyNew
                                  description: Payment terms and conditions for this product.
                                  type: object
                                  properties:
                                    prepayment_required:
                                      description: Whether prepayment is required for this product.
                                      type: boolean
                                    timings:
                                      description: The payment timings supported by this product.
                                      type: array
                                      items:
                                        type: string
                                        enum:
                                        - pay_at_the_property
                                        - pay_online_later
                                        - pay_online_now
                            price:
                              title: AccommodationsAvailabilityProductPrice
                              description: The price components of this product. 'base' and 'extra_charges' are returned only when explicitly requested (via 'extras=extra_charges').
                              type: object
                              properties:
                                base:
                                  description: The base price. It does not include any extra charges.
                                  type: number
                                  format: double
                                  multipleOf: 0.01
                                  exclusiveMinimum: 0
                                book:
                                  description: The display price that must be shown to the traveller under local booker protection laws. This price includes the base accommodation cost and all charges that are legally required to be part of the displayed price. Equivalent to base + included charges.
                                  type: number
                                  format: double
                                  multipleOf: 0.01
                                  exclusiveMinimum: 0
                                chargeable_online:
                                  description: The price that will be charged by Booking.com when online payments are used. This field does not apply to the "pay_at_the_property" timing.
                                  nullable: true
                                  type: number
                                  format: double
                                  multipleOf: 0.01
                                  exclusiveMinimum: 0
                                extra_charges:
                                  title: AccommodationsProductExtraCharges
                                  description: The charge breakdown. Includes taxes and fees.
                                  type: object
                                  properties:
                                    conditional:
                                      description: Charges that might apply under a specific condition.
                                      type: array
                                      items:
                                        title: AccommodationsConditionalCharge
                                        description: Charges that might apply under a specific condition.
                                        type: object
                                        properties:
                                          charge:
                                            description: 'A signed integer number that uniquely identifies an accommodation charge type. Examples of charges are: VAT, City Tax, etc. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/accommodations/accommodations/constants" target="_blank">accommodations/constants</a>.'
                                            type: integer
                                            minimum: 0
                                          condition:
                                            description: A signed integer number that uniquely identifies the condition ID. Find the full list in the <a href="/demand/docs/accommodations/prices-accommodations" target="_blank">Pricing guidelines</a>.
                                            type:
                                            - integer
                                            - 'null'
                                            minimum: 0
                                          mode:
                                            description: The mode of this charge. Determines how the price is calculated.
                                            type: string
                                            enum:
                                            - calculated_amount
                                            - percentage
                                            - per_day
                                            - per_night
                                            - per_person_per_day
                                            - per_person_per_night
                                            - per_person_per_stay
                                            - per_stay
                                          percentage:
                                            description: The percentage of 'base' that this charge amounts to. Only applicable when 'mode' is 'percentage'.
                                            type: number
                                            multipleOf: 0.01
                                            exclusiveMinimum: 0
                                            nullable: true
                                          total_amount:
                                            description: The total price for this charge.
                                            type: number
                                            multipleOf: 0.01
                                            exclusiveMinimum: 0
                                          unit_amount:
                                            description: The price per unit for this charge. Only applicable when 'mode' is 'per_day', 'per_night', 'per_person_per_day', 'per_person_per_night', or 'per_person_per_stay'.
                                            type: number
                                            multipleOf: 0.01
                                            exclusiveMinimum: 0
                                            nullable: true
                                    excluded:
                                      description: Charges not included in 'book'.
                                      type: array
                                      items:
                                        title: AccommodationsAvailabilityCharge
                                        description: All non-conditional charges that will necessarily be paid
                                        type: object
                                        properties:
                                          charge:
                                            description: 'A signed integer number that uniquely identifies an accommodation charge type. Examples of charges are: VAT, City Tax, etc. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/accommodations/accommodations/constants" target="_blank">accommodations/constants</a>.'
                                            type: integer
                                            minimum: 0
                                          chargeable_online:
                                            description: Whether this charge is chargeable online or not. Not applicable to "pay_at_the_property" timing.
                                            type: boolean
                                            nullable: true
                                          mode:
                                            description: The mode of this charge. Determines how the price is calculated.
                                            type: string
                                            enum:
                                            - calculated_amount
                                            - incalculable
                                            - percentage
                                            - per_day
                                            - per_night
                                            - per_person_per_day
                                            - per_person_per_night
                                            - per_person_per_stay
                                            - per_stay
                                          percentage:
                                            description: The percentage of 'base' that this charge amounts to. Only applicable when 'mode' is 'percentage'.
                                            type: number
                                            multipleOf: 0.01
                                            exclusiveMinimum: 0
                                            nullable: true
                                          total_amount:
                                            description: The total price for this charge.
                                            type: number
                                            multipleOf: 0.01
                                            exclusiveMinimum: 0
                                          unit_amount:
                                            description: The price per unit for this charge. Only applicable when 'mode' is 'per_day', 'per_night', 'per_person_per_day', 'per_person_per_night', or 'per_person_per_stay'.
                                            type: number
                                            multipleOf: 0.01
                                            exclusiveMinimum: 0
                                            nullable: true
                                    included:
                                      description: Charges included in 'book'.
                                      type: array
                                      items:
                                        title: AccommodationsAvailabilityCharge
                                        description: All non-conditional charges that will necessarily be paid
                                        type: object
                                        properties:
                                          charge:
                                            description: 'A signed integer number that uniquely identifies an accommodation charge type. Examples of charges are: VAT, City Tax, etc. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/accommodations/accommodations/constants" target="_blank">accommodations/constants</a>.'
                                            type: integer
                                            minimum: 0
                                          chargeable_online:
                                            description: Whether this charge is chargeable online or not. Not applicable to "pay_at_the_property" timing.
                                            type: boolean
                                            nullable: true
                                          mode:
                                            description: The mode of this charge. Determines how the price is calculated.
                                            type: string
                                            enum:
                                            - calculated_amount
                                            - incalculable
                                            - percentage
                                            - per_day
                                            - per_night
                                            - per_person_per_day
                                            - per_person_per_night
                                            - per_person_per_stay
                                            - per_stay
                                          percentage:
                                            description: The percentage of 'base' that this charge amounts to. Only applicable when 'mode' is 'percentage'.
                                            type: number
                                            multipleOf: 0.01
                                            exclusiveMinimum: 0
                                            nullable: true
                                          total_amount:
                                            description: The total price for this charge.
                                            type: number
                                            multipleOf: 0.01
                                            exclusiveMinimum: 0
                                          unit_amount:
                                            description: The price per unit for this charge. Only applicable when 'mode' is 'per_day', 'per_night', 'per_person_per_day', 'per_person_per_night', or 'per_person_per_stay'.
                                            type: number
                                            multipleOf: 0.01
                                            exclusiveMinimum: 0
                                            nullable: true
                                total:
                                  description: The total price. Includes all extra charges.
                                  type: number
                                  format: double
                                  multipleOf: 0.01
                                  exclusiveMinimum: 0
                            room:
                              description: A signed integer number that uniquely identifies an accommodation property room. The full list can be obtained by calling [accommodations/details](/demand/docs/open-api/demand-api/accommodations/accommodations/details).
                              type: integer
                              minimum: 1
                            third_party_inventory:
                              description: Boolean value is "true" if the product is facilitated by a Booking.com partner company and "false" otherwise.
                              type: boolean
                      recommendation:
                        title: AccommodationsAvailabilityRecommendationOutput
                        description: The products recommended for the provided search criteria.
                        type: object
                        properties:
                          price:
                            title: AccommodationsRecommendationPrice
                            description: The price components of this product or selection of products. 'base' and 'extra_charges' are returned only when explicitly requested (via 'extras=extra_charges').
                            type: object
                            properties:
                              base:
                                description: The base price. It does not include any extra charges.
                                type: number
                                multipleOf: 0.01
                                exclusiveMinimum: 0
                              book:
                                description: The display price that must be shown to the traveller in accordance with local booker protection laws. This price includes the base accommodation cost and all charges that are legally required to be part of the displayed amount. Equivalent to base + charges where included_in.display=true.
                                type: number
                                multipleOf: 0.01
                                exclusiveMinimum: 0
                              chargeable_online:
                                description: The amount collected by Booking.com from the Virtual Credit Cards (VCCs) when using online payment methods (e.g., pay_online_now, pay_online_later). Equivalent to `base + charges` where `included_in.chargeable_online=true`. Returns `null` for agency-model properties where Booking.com does not process payments.
                                type: number
                                multipleOf: 0.01
                                exclusiveMinimum: 0
                                nullable: true
                              extra_charges:
                                title: AccommodationsExtraCharges
                                description: The charge breakdown. Includes taxes and fees.
                                type: object
                                properties:
                                  excluded:
                                    description: Charges not included in 'book'.
                                    type: number
                                    format: double
                                    minimum: 0
                                  included:
                                    description: Charges included in 'book'.
                                    type: number
                                    format: double
                                    minimum: 0
                              total:
                                description: The total price. Includes all extra charges.
                                type: number
                                multipleOf: 0.01
                                exclusiveMinimum: 0
                          products:
                            description: ''
                            type: array
                            items:
                              title: AccommodationsAvailabilityRecommendationProductOutput
                              description: ''
                              type: object
                              properties:
                                id:
                                  description: Unique ID of the product.
                                  type: string
                                children:
                                  description: The ages of the children allocated to this product.
                                  type: array
                                  items:
                                    type: integer
                                    minimum: 0
                                    maximum: 17
                                number_of_adults:
                                  description: The number of adults allocated to this product.
                                  type: integer
                                  minimum: 1
                                price:
                                  title: AccommodationsRecommendationPrice
                                  description: The price components of this product or selection of products. 'base' and 'extra_charges' are returned only when explicitly requested (via 'extras=extra_charges').
                                  type: object
                                  properties:
                                    base:
                                      description: The base price. It does not include any extra charges.
                                      type: number
                                      multipleOf: 0.01
                                      exclusiveMinimum: 0
                                    book:
                                      description: The display price that must be shown to the traveller in accordance with local booker protection laws. This price includes the base accommodation cost and all charges that are legally required to be part of the displayed amount. Equivalent to base + charges where included_in.display=true.
                                      type: number
                                      multipleOf: 0.01
                                      exclusiveMinimum: 0
                                    chargeable_online:
                                      description: The amount collected by Booking.com from the Virtual Credit Cards (VCCs) when using online payment methods (e.g., pay_online_now, pay_online_later). Equivalent to `base + charges` where `included_in.chargeable_online=true`. Returns `null` for agency-model properties where Booking.com does not process payments.
                                      type: number
                                      multipleOf: 0.01
                                      exclusiveMinimum: 0
                                      nullable: true
                                    extra_charges:
                                      title: AccommodationsExtraCharges
                                      description: The charge breakdown. Includes taxes and fees.
                                      type: object
                                      properties:
                                        excluded:
                                          description: Charges not included in 'book'.
                                          type: number
                                          format: double
                                          minimum: 0
                                        included:
                                          description: Charges included in 'book'.
                                          type: number
                                          format: double
                                          minimum: 0
                                    total:
                                      description: The total price. Includes all extra charges.
                                      type: number
                                      multipleOf: 0.01
                                      exclusiveMinimum: 0
                      url:
                        description: Internet address for the property page on Booking.com.
                        type: string
                        format: url
              example:
                request_id: 01fr9ez700exycb98w90w5r9sh
                data:
                  id: 10004
                  currency: EUR
                  deep_link_url: booking://hotel/10004?affiliate_id=!AFFILIATE_ID!&checkin=!START_DATE!&checkout=!END_DATE!
                  products:
                  - id: '1000420_358188572_2_0_0'
                    bundle: null
                    deal: null
                    inventory:
                      third_party: false
                      type: sell
                    maximum_occupancy:
                      adults: 2
                      children: null
                      total: 2
                    number_available_at_this_price: 3
                    policies:
                      cancellation:
                        free_cancellation_until: '!START_DATE-2!T00:00:00+00:00'
                        type: free_cancellation
                      meal_plan:
                        meals: []
                        plan: no_plan
                      payment:
                        prepayment_required: false
                        timings:
                        - pay_at_the_property
                    price:
                      base: 1189.63
                      book: 1385.97
                      chargeable_online: 1385.97
                      extra_charges:
                        conditional: []
                        excluded: []
                        included:
                        - charge: 21
                          chargeable_online: true
                          mode: percentage
                          percentage: 9
                          total_amount: 107.07
                          unit_amount: null
                        - charge: 22
                          chargeable_online: false
                          mode: percentage
                          percentage: 7
                          total_amount: 83.27
                          unit_amount: null
                        - charge: 142
                          chargeable_online: true
                          mode: per_person_per_night
                          percentage: null
                          total_amount: 6
                          unit_amount: 3
                      total: 1385.97
                    room: 1000420
                    third_party_inventory: false
                  - '...'
                  recommendation:
                    price:
                      base: 1081.49
                      book: 1260.52
                      chargeable_online: 1260.52
                      extra_charges:
                        excluded: 0
                        included: 179.04
                      total: 1260.52
                    products:
                    - id: '1000420_95127794_2_0_0'
                      children: []
                      number_of_adults: 2
                      price:
                        base: 1081.49
                        book: 1260.52
                        chargeable_online: 1260.52
                        extra_charges:
                          excluded: 0
                          included: 179.04
                        total: 1260.52
                  url: https://www.booking.com/hotel/nl/toren.html?aid=!AFFILIATE_ID!&checkin=!START_DATE!&checkout=!END_DATE!&no_rooms=1&group_adults=2
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /accommodations/bulk-availability:
    post:
      summary: Booking.com Check Multiple Availability
      description: 'Use this endpoint to retrieve detailed product availability, price and charges of a list of accommodations. By default, only product availability and price is returned. <br/>To receive extended information use the `extras` parameter. <br/>Note: It is mandatory to pass the input parameters: accommodations, booker, checkin, checkout and guests.'
      operationId: accommodationsBulkAvailability
      parameters:
      - in: header
        name: X-Affiliate-Id
        schema:
          type: integer
        required: true
        description: Include here your Affiliate identifier number
      tags:
      - Accommodations
      requestBody:
        content:
          application/json:
            schema:
              title: AccommodationsBulkAvailabilityInput
              type: object
              properties:
                accommodations:
                  type: array
                  items:
                    description: A signed integer number that uniquely identifies an accommodation property. The full list can be obtained by calling [accommodations/details](/demand/docs/open-api/demand-api/accommodations/accommodations/details).
                    type: integer
                    minimum: 1
                booker:
                  title: Booker
                  description: The booker's information.
                  type: object
                  properties:
                    country:
                      description: The booker country for showing the best price for that user and obeying laws regarding the display of taxes and fees.
                      type: string
                      pattern: ^[a-z]{2}$
                    platform:
                      description: The booker platform for showing the platform based deals and prices.
                      type: string
                      enum:
                      - android
                      - desktop
                      - ios
                      - mobile
                      - tablet
                    state:
                      description: The booker state for showing the best price for that user and obeying laws regarding the display of taxes and fees. Currently applicable only for country US.
                      type: string
                      pattern: ^[a-z]{2}$
                    travel_purpose:
                      description: The travel purpose of the booker.
                      type: string
                      enum:
                      - business
                      - leisure
                    user_groups:
                      description: The user groups that the booker is a member of.
                      type: array
                      items:
                        type: string
                        enum:
                        - authenticated
                  required:
                  - country
                  - platform
                checkin:
                  description: The checkin date. Must be within 500 days in the future and in the format yyyy-mm-dd.
                  type: string
                  format: date
                checkout:
                  description: The checkout date. Must be later than {checkin}. Must be between 1 and 90 days after {checkin}. Must be within 500 days in the future and in the format yyyy-mm-dd.
                  type: string
                  format: date
                currency:
                  description: A three-letter code that uniquely identifies a monetary currency as defined by the ISO 4217 standard. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/commonpayments/common/payments/currencies" target="_blank">common/payments/currencies</a>.
                  type: string
                  pattern: ^[A-Z]{3}$
                  example: EUR
                extras:
                  description: Input parameter to request for additional information about this product.include_bundle_variants must be passed in order to retrieve all value added products.
                  type: array
                  items:
                    type: string
                    enum:
                    - extra_charges
                    - include_bundle_variants
                filters:
                  title: AccommodationsBulkAvailabilityFiltersInput
                  description: The filters to apply in this availability request.
                  type: object
                  properties:
                    cancellation_type:
                      description: Filters the result for the cancellation type specified. Possible values are free_cancellation. The result will contain all the products with free_cancellation.
                      type: string
                      enum:
                      - free_cancellation
                    meal_plan:
                      description: 'Filter the result based on the selected meal plan. Example: When specified breakfast_included, it will show the product with free breakfast.'
                      type: string
                      enum:
                      - all_inclusive
                      - breakfast_included
                      - full_board
                      - half_board
                    payment:
                      description: Payment input information to filter results.
                      properties:
                        timing:
                          description: This parameter specifies that the results should only return accommodation and blocks that contain the specified payment timings.
                          type: string
                          enum:
                          - pay_at_the_property
                          - pay_online
                    third_party_inventory:
                      description: Whether to include third party inventory in the response
                      type: boolean
                guests:
                  title: AccommodationsGuests
                  description: The guest details for the request.
                  type: object
                  properties:
                    allocation:
                      description: The exact allocation of guests to rooms.
                      type: array
                      items:
                        properties:
                          children:
                            description: The children ages for this room.
                            type: array
                            items:
                              type: integer
                              minimum: 0
                              maximum: 17
                          number_of_adults:
                            description: The number of adults for this room.
                            type: integer
                            minimum: 1
                        required:
                        - number_of_adults
                    children:
                      description: Array with the children ages.
                      type: array
                      items:
                        type: integer
                        minimum: 0
                        maximum: 17
                    number_of_adults:
                      description: The number of adults for the search.
                      type: integer
                      minimum: 1
                    number_of_rooms:
                      description: The number of rooms needed.
                      type: integer
                      minimum: 1
                  required:
                  - number_of_adults
                  - number_of_rooms
              required:
              - accommodations
              - booker
              - checkin
              - checkout
              - guests
            example:
              accommodations:
              - 10004
              booker:
                country: nl
                platform: desktop
              checkin: '!START_DATE!'
              checkout: '!END_DATE!'
              extras:
[...]
